
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
       Problema do conjunto de elementos únicos
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div class="card-content">
      <form (ngSubmit)="add()">
        <div class="form-horizontal" [formGroup]="addForm">
          <div class="form-group">
            <div class="row">
              <br>
              <mat-form-field class="mat-form">
                <mat-label>Entre com um número</mat-label>
                <input matInput placeholder="EX: 0 a 255" type="number" name="numero1" id="numero1" formControlName="numero1" required >
              </mat-form-field>
            </div>

            <div class="row">
                <button type="submit" mat-raised-button color="primary" [disabled]="!addForm.valid" >Calcular</button>
                <button type="button" mat-raised-button color="accent" style="margin-left:5px;" (click)="reset()">Limpar</button>
            </div>
            <br>
            <br>
            <br>
            <mat-form-field class="full-width">
              <mat-label>Resultado</mat-label>
              <input matInput disabled value="{{result}}">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
